<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ACMESharp" version="0.8.1.214-EA" targetFramework="net462" />
  <package id="ACMESharp.PKI.Providers.OpenSslLib32" version="0.8.1.214-EA" targetFramework="net462" />
  <package id="ACMESharp.PKI.Providers.OpenSslLib64" version="0.8.1.214-EA" targetFramework="net462" />
  <package id="AWSSDK.Core" version="3.3.17.2" targetFramework="net462" />
  <package id="AWSSDK.Route53" version="3.3.6.3" targetFramework="net462" />
  <package id="AWSSDK.S3" version="3.3.8.2" targetFramework="net462" />
  <package id="letsencrypt.azure.core" version="0.6.20-prerelease" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="ManagedOpenSsl32" version="0.6.1.3" targetFramework="net462" />
  <package id="ManagedOpenSsl64" version="0.6.1.3" targetFramework="net462" />
  <package id="Microsoft.Azure.Management.Websites" version="1.6.0-preview" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.8" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.8" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="SonarAnalyzer.CSharp" version="6.2.0.2536" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
</packages>