<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net462" />
  <package id="letsencrypt.azure.core" version="0.8.5-prerelease" targetFramework="net462" />
  <package id="Microsoft.Azure.Management.Dns" version="3.0.0" targetFramework="net462" />
  <package id="Microsoft.Azure.Management.Websites" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.14" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.16" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="SonarAnalyzer.CSharp" version="7.7.0.7192" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
</packages>